@media screen and (min-width: 900px){
    .main{
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        gap: 25px;
        font-family: "Confortaa";
        h1{
            text-align: center;
            color: #FFFFFF;
            font-family: 'Comfortaa', cursive;
            font-size: 48px;
            letter-spacing: 0.15em;
            span{
                font-size: 64px;
                font-weight: 400;
            }
        }
        h2{
            text-align: center;
            color: #FFFFFF;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.02em;
        }
    }
}
@media screen and (max-width: 900px){
    .main{
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        gap: 25px;
        font-family: "Confortaa";
        h1{
            text-align: center;
            color: #FFFFFF;
            font-family: 'Comfortaa', cursive;
            font-size: 32px;
            letter-spacing: 0.15em;
        }
        h2{
            text-align: center;
            color: #FFFFFF;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0.02em;
        }
    }
}